* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header, .hero {
    background-color: #1f2937;
}

.wrapper {
    width: 1300px;
    margin-inline: auto;
}

.header .wrapper {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
    color: #e5e7eb
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}