@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.header, .hero {
    background-color: #1f2937;
}

.wrapper {
    max-width: 1300px;
    margin-inline: auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 32px;
}

a, .secondary-text {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.hero .wrapper,
.quote .wrapper {
    padding: 144px 16px;
}

.container {
    color: white;
    width: 500px;
}

.main-text {
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    margin-bottom: 8px;
}

.secondary-text {
    margin-bottom: 32px;
}

button {
    padding: 12px 48px;
    background-color: #3882F6;
    color: #f9faf8;
    font-size: 18px;
    font-weight: 700;
    border: 0;
    border-radius: 8px;
}

img {
    width: 600px;
    height: 300px;
    object-fit: cover;
}

.info .wrapper {
    padding: 72px 16px;
    flex-direction: column;
    gap: 72px;
}

.header-text {
    font-size: 36px;
    font-weight: 1000;
    color: #1f2937;
}

.cards {
    display: flex;
    gap: 48px;
    text-align: center;
    margin-bottom: 72px;
    font-size: 24px;
}

.cards div {
    width: 250px;
}

.cards img {
    width: 250px;
    height: 250px;
    border-radius: 16px;
    object-fit: cover;
    margin-bottom: 8px;
}

.quote {
    background-color: #e5e7eb;
}

.quote .wrapper {
    gap: 0;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    flex-direction: column;
}

.quote-author {
    text-align: end;
    font-style: normal;
    font-size: 32px;
    font-weight: 700;
}

